<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Django and Celery</title>
</head>
<body>
    <h1>Django - Celery example</h1>
    <a href="{% url 'users_list' %}">User List</a> / <a href="{% url 'generate_users' %}">Generate Random Users</a>
    <hr/>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <h2>Users count: {{ users | length }}</h2>
    {% for user in users %}
    <p/>
        {{user.username}}
    {% endfor %}

</body>
</html>