<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>

    {% if error %}
        <p><strong>Error</strong> {{error}} </p>
    {% endif %}

    <form action="" method="POST">
        <dl>
            <dt>
                Username:
            </dt>
            <dd>
                <input type="text" name="username"/>
            </dd>

            <dt>
                Password:
            </dt>
            <dd>
                <input type="password" name="password"/>
            </dd>
        </dl>
        <p><button type="submit">Login</button></p>

    </form>
</body>
</html>